.episodes ol {
  list-style: none;
}

.episodes li {
  padding: 0.5rem;
}

.episodes li:hover,
.episodes li.selected {
  background: #333;
  cursor: pointer;
}

.episodes li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.episode-details {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

.episode-details button {
  align-self: flex-start;
  width: auto;
  padding: 0.5rem 1rem;
  background: white;
  border: none;
  color: #222;
  cursor: pointer;
}

.episode-details button:hover {
  background: gray;
}
